<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlm.send.mapper.AnnouncementMapper" >
  <resultMap id="AnnouncementResultMap" type="com.xlm.send.pojo.Announcement" >
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="MODEL_ID" property="modelId" jdbcType="VARCHAR" />
    <result column="FIRST_READ_TIME" property="firstReadTime" jdbcType="DATE" />
    <result column="LAST_READ_TIME" property="lastReadTime" jdbcType="DATE" />
  </resultMap>
  <sql id="AnnouncementColumn">
      UUID,USER_ID,MODEL_ID,FIRST_READ_TIME,LAST_READ_TIME
  </sql>

    <select id="selectLastReadTime" resultMap="AnnouncementResultMap">
        select <include refid="AnnouncementColumn"/>
        from T_MSG_ANNOUNCEMENT#{appId}
        where USER_ID = #{userId}
    </select>
</mapper>