<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlm.send.mapper.AppMapper" >
  <resultMap id="AppResultMap" type="com.xlm.send.pojo.App" >
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="APP_VERSION_NEW" property="appVersionNew" jdbcType="VARCHAR" />
    <result column="APP_TYPE" property="appType" jdbcType="VARCHAR" />
    <result column="OS_TYPE" property="osType" jdbcType="VARCHAR" />
    <result column="AURORA_APPKEY" property="auroraAppkey" jdbcType="VARCHAR" />
    <result column="AURORA_MASTERSECRET" property="auroraMastersecret" jdbcType="VARCHAR" />
    <result column="AURORA_APNS_PRODUCTION" property="auroraApnsProduction" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="insert" parameterType="com.xlm.send.pojo.App" >
    insert into T_MSG_APP (UUID, APP_VERSION_NEW, APP_TYPE, 
      OS_TYPE, AURORA_APPKEY, AURORA_MASTERSECRET, 
      AURORA_APNS_PRODUCTION, STATUS)
    values (#{uuid,jdbcType=VARCHAR}, #{appVersionNew,jdbcType=VARCHAR}, #{appType,jdbcType=VARCHAR}, 
      #{osType,jdbcType=VARCHAR}, #{auroraAppkey,jdbcType=VARCHAR}, #{auroraMastersecret,jdbcType=VARCHAR}, 
      #{auroraApnsProduction,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xlm.send.pojo.App" >
    insert into T_MSG_APP
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        UUID,
      </if>
      <if test="appVersionNew != null" >
        APP_VERSION_NEW,
      </if>
      <if test="appType != null" >
        APP_TYPE,
      </if>
      <if test="osType != null" >
        OS_TYPE,
      </if>
      <if test="auroraAppkey != null" >
        AURORA_APPKEY,
      </if>
      <if test="auroraMastersecret != null" >
        AURORA_MASTERSECRET,
      </if>
      <if test="auroraApnsProduction != null" >
        AURORA_APNS_PRODUCTION,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="appVersionNew != null" >
        #{appVersionNew,jdbcType=VARCHAR},
      </if>
      <if test="appType != null" >
        #{appType,jdbcType=VARCHAR},
      </if>
      <if test="osType != null" >
        #{osType,jdbcType=VARCHAR},
      </if>
      <if test="auroraAppkey != null" >
        #{auroraAppkey,jdbcType=VARCHAR},
      </if>
      <if test="auroraMastersecret != null" >
        #{auroraMastersecret,jdbcType=VARCHAR},
      </if>
      <if test="auroraApnsProduction != null" >
        #{auroraApnsProduction,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>