<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xlm.send.mapper.UserModelMapper" >
  <resultMap id="UserModelResultMap" type="com.xlm.send.pojo.UserModel" >
    <result column="UUID" property="uuid" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="MODEL_ID" property="modelId" jdbcType="VARCHAR" />
    <result column="NOT_READING" property="notReading" jdbcType="INTEGER" />
    <result column="LAST_MESSAGE_TITLE" property="lastMessageTitle" jdbcType="VARCHAR" />
    <result column="LAST_READ_TIME" property="lastReadTime" jdbcType="DATE" />
  </resultMap>

    <sql id="UserModelColumn">
        UUID,USER_ID,MODEL_ID,NOT_READING,LAST_MESSAGE_TITLE,LAST_READ_TIME
    </sql>

    <select id="selectNotRead" resultMap="UserModelResultMap">
        select
            <include refid="UserModelColumn"/>
        FROM
        T_MSG_USER_MODEL#{appId}
        WHERE
        USER_ID = #{userId}
        AND MODEL_ID NOT IN ( SELECT MODEL_ID FROM T_MSG_USER_BLACK_MODEL WHERE USER_ID = #{userId} )
    </select>
</mapper>